:root {
  --primary-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project {
  position: relative;
}

#myVideo {
  position: fixed;
  right: 0;
  /* bottom: 0; */
  width: 100%;
  min-height: 100%;

}
video{
  object-fit: fill;
}

/* Add some content at the bottom of the video/page */
.content {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.502); */
  color: #f1f1f1;
  width: 100%;
  padding: 8px;
  height: auto;
}


.header {
  text-align: center;
  padding: 13px;
}
#location{
  font-size: 40px;
}
.header i{
  font-size: 25px;

}

.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  padding: 3px;
  margin-right: 6px;
}

#condition-icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

#temprature {
  font-size: 45px;
}

.condition #condition {
  font-size: 1.1rem;
}

.modal-btn {
  text-align: center;
}

.btn {
  padding: 10px 15px;
  background: transparent;
  color: rgb(255, 255, 255);
  background-color: teal;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.3s all linear;
  border: transparent;
}
.changeWeatherBtn{
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(27, 27, 27);
}

.columns {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* height: 60%; */
}

.col-1, .col-2 {
  width: 100%;
  margin-bottom: 10px;
  /* background-color: aqua; */
  height: 100%;
margin: 3px;

}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: rgba(1, 1, 1, 0.576);
  padding: 10px;
  color: white;
  border-radius: 12px;
}

.col-1-r1 {
  margin-bottom: 10px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.temp {
  font-size: 30px;
}

.temp #temprature {
  font-size: 45px;
}

.temp i {
  font-size: 34px;
}

.high-low {
  font-size: 17px;
}

.high-low p {
  margin: 5px 8px;
}

#feels-like {
  margin-right: 10px;
}

.col-1-r3 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.map {
  height: 170px;
  width: 90%;
  margin: 10px auto;
  /* background-color: rgb(255, 255, 255); */
}

.aqi-icon {
  width: 16px;
  height: 16px;
  margin: 5px;
}

.aqi {
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.44);
  padding-bottom: 10px;
  margin-top: 5px;
}

.aqi p {
  padding-bottom: 1px;
  width: 100%;
  text-align: center;
}

.aqi-head {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.44);
  margin-bottom: 4px;

}

#feels-like {
  text-align: center;
  font-size: 13px;
}

#condition-icon2 {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

#location2 {
  font-size: 20px;
  margin-bottom: 10px;
}




.location-info{
  height: auto;

}
/* BOXES */
.box{
  background-color: rgba(0, 0, 0, 0.624);
  padding: 10px;
  color: white;
  border-radius: 12px;
  width:100%;
  height: 132px;
 }
 .grids{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 4px;
  
 }
 .grids:nth-child(5){
  display: none;
 }
 .last{
  display: none;
 }
 .box-head{
  display: flex;
  font-size: 15px;
  align-items: center;
  color: rgb(142, 142, 142);
 }
 .compass{
  width: 80px;
  height: 80px;
  text-align: center;
  margin:auto;
  padding: 4px;
 }
 .compass img{
  width: 100%;
  height: 100%;
 }
.percentage,.sunrise{
  font-size: 40px;
  padding: 8px 0;
  height: 60%;
}
.sunrise{
  font-size: 30px;
  padding-top: 10px;
}
.box-text{
  font-size: 13px;
}
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.341);
  transition: 0.3s all linear;
  display: grid;
  place-items: center;
  visibility: hidden; 
  z-index:11;
  opacity: 0;
}
/* OPEN/CLOSE MODAL */
.open-modal {
  transition: 0.3s all linear;
  visibility: visible;
  z-index: 10;
  opacity: 1;
}
.modal-container{
  background: rgb(255, 252, 252);
  border-radius: 10px;
  width: 70%;
  /* height: auto; */
  max-width: 800px;
  text-align: center;
  display: grid;
  padding: 20px;
  place-items: center;
  text-align: center;
  position: relative;

}
.modal-container h3{
  color: teal;
  text-transform: capitalize;
  letter-spacing: 3px;
}
#loc{
  background: transparent;
  border: transparent;
  border: none;
  border-bottom: 2px solid teal;
  font-size: 18px;
  margin: 15px;
  padding: 3px;
  text-transform: capitalize;
}
#loc:focus{
 outline: none;
 border-bottom: 2px solid rgb(122, 123, 123);

}
#submit{
  padding:8px 25px;
  border: none;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid teal;
  color: teal;
  transition: 0.3s all linear;
  cursor: pointer;
}
#submit:hover{
  background-color: teal;
  color: white;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: rgb(126, 5, 5);
  cursor: pointer;
  transition: 0.3s all linear;
}
.close-btn:hover {
  color: red;
  transform: scale(1.3);
}
.modal-container h3{
font-size: 35px;
}
.forecast{
  display: flex;
  align-items: center;
  height: 100%;
  overflow-x: scroll;

}
.forecast .forecast-box{
  display: flex;
  flex-direction: column;
  width: 180px;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-right: 3px solid rgba(184, 180, 180, 0.124);
}
.forecast-box #condition3{
  font-size: 16px;
  text-align: center;
}
.forecastTime{
  font-size: 20px;
}
.forecast-flex{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.forecast-flex>div{
  width: 50%;
}
#condition-icon3{
  width: 40px;
  margin-right: 25px;
}
#temprature3{
  font-size: 20px;
}
.forecast .forecast-box:last-child{
  border-right: 3px solid rgba(184, 180, 180, 0);
  
}
#feelslike3{
  margin-top: 4px;
  font-size: 12px;
}
.section-2{
  margin-top: 4px;
}

@media screen and (min-width:1150px) {
  .location-info{
    height: 380px;
  }
  #condition-icon {
    width: 80px;
    height: 80px;
  }

  #temprature {
    font-size: 54px;
    margin-right: 10px;
  }

  .columns {
    flex-direction: row;
    padding: 5px;
    width: 90vw;
    margin: auto;
    
  }

  .col-1 {
    width: 30%;
  }

  .col-2 {
    width: 70%;
  }


  .btn {
    margin-bottom: 10px;
  }

  #location {
    font-size: 40px;
    line-height: 0;
  }

  .header i {
    font-size: 30px;
  }

  /* Add some content at the bottom of the video/page */
  .content {
   
    width: 100%;
    padding: 20px;
    height: 100%;
  }
  .flex-column{
    display: flex;
    flex-direction: column;

  }
 .section-1{
  height: 35%;
  /* background-color: bisque; */
 }
 .section-2{
  height: 65%;
  margin-top: 5px;
  /* background-color: aquamarine; */
 }
 .grids{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 4px;
  
 }
 .last{
  display: block;
 }
 .sunrise{
  font-size: 28px;
  padding-top: 10px;
}
.forecast-box{  
  padding: 10px;
  min-width: 170px !important; 
  
}
.forecast-box #condition3{
  font-size: 17px;
}
.forecastTime{
  font-size: 20px;
}
.forecast-flex{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.forecast-flex>div{
  width: 50%;
}
#condition-icon3{
  width: 40px;
}
#temprature3{
  font-size: 28px;
}

#feelslike3{
  font-size: 16px;
}
.section-2{
margin-top: none;
}


}

@media screen and (max-width:700px) {

#myVideo{
  display: none;
}
.content{
  background:url(./pexels-ruvim-3560044.jpg) center center/cover no-repeat;
  min-height: 100vh;
}
}